.article {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  padding: 4em 8em;
  text-align: left;
  color: #2a363b;
  font-size: 21px;
  letter-spacing: -0.003em;;
  line-height: 32px;
  overflow-wrap: break-word;
  text-rendering: optimizelegibility;
  word-break: break-word;
}

.article h1 {
  line-height: 56px;
  margin-top: 0.6em;
  font-size: 46px;
  letter-spacing: -0.011em;
  margin-bottom: -0.27em;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.article h2 {
  margin-top: 3em;
  margin-bottom: -0.46em;
}

.article p {
  margin-bottom: -0.46em;
  margin-top: 2em;
}

.article a {
  text-decoration: underline;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.article img[alt=nodejs] {
  width: 120px;
}
.article img[alt=sketchnote] {
  width: 100%;
}

.article img[alt=sketchnote]:hover {
  cursor: pointer;
  opacity: .7;
}
