.graphic {
  display: flex;
  margin: 8rem 0;
}

.graphic a {
  display: contents;
}

.graphic img {
  width: 40%;
}

.graphic .description {
  padding: 1rem 3rem 0 3rem;
  font-size: 1.2rem;
}

.graphic .illustrations a {
  text-decoration: none;
  color: rgb(153, 153, 153);
  font-family: "Raleway", sans-serif;
}
