.web {
  display: flex;
}
.web a {
  display: contents;
}
.web img {
  width: 50%;
}
.web .description {
  padding: 1rem 3rem 0 3rem;
}
.web .description .project {
  color: #2a363b;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
  padding-bottom: 7rem;
  font-weight: bold;
  position: relative;
}

.web .description .project::after {
  content: "";
  width: 1px;
  display: block;
  height: 93px;
  background-color: #ccc;
  position: absolute;
  left: 5px;
  top: 42px;
}

.web .description .infos div {
  font-size: 1rem;
}

.web .description .infos div::first-letter {
  opacity: 0.6;
  color: palevioletred;
}


/*MacBook 13"*/
@media screen and (max-width: 1920px) {
  .web .description .infos div {
    font-size: 1.3rem;
}
}
/*iPadPro Horizontal*/
@media screen and (max-width: 1382px) {
}
/*iPadPro Vertical / iPad HorizontaL*/
@media screen and (max-width: 1024px) {
}

/*iPhoneX horizontal*/
@media screen and (max-width: 900px) {
}

/*iPad Vertical iPhone6/7/8 Horizontal*/
@media screen and (max-width: 768px) {
}

/*iPhoneX/iPhone6/7/8 vertical*/
@media screen and (max-width: 480px) {
}
