.item {
    margin-bottom: 5rem;
}

.item .item-header{
    display: flex;
    justify-content: space-between;
    color: gray;
}

.item .item-header .header-title{
    margin-bottom: 1.5rem;
    flex-basis: 70%;
}

.item .item-header .header-date{
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.item .item-header .header-title .header-maintitle{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.item .item-header .header-title .header-subtitle{
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.item .item-header .header-title .header-maintitle:after{
   content: '';
   display: block;
   width: 110px;
   height: 3px;
   background: gray;
}

/* smartphone en portrait */
@media screen and (max-width: 479px) {
    .item {
        margin-bottom: 2.5rem;
    }
    .item .item-header{
        flex-direction: column;
    }
    .item .item-header .header-title{
        margin-bottom: 0rem;
    }
    
    .item .item-header .header-title .header-maintitle{
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .item .item-header .header-title .header-subtitle{
        font-size: 1rem;
    }

    .item .item-header .header-date{
        line-height: 1rem;
        font-size: .8rem;
        margin-bottom: 1.5rem;
        color: dimgrey;

    }
}

/* smartphone in landscape, tablet in portrait and small tablet in landscape */
@media screen and (min-width: 480px) and (max-width: 959px) {
    .item .item-header{
        flex-direction: column;
    }
    .item .item-header .header-title{
        margin-bottom: 0rem;
    }

    .item .item-header .header-date{
        font-size: 1rem;
        margin-bottom: 1.5rem;
        color: dimgrey;
    }
}

/*  tablet in landscape, small and medium laptop screen */
@media screen and (min-width: 960px) and (max-width: 1280px) {

}

/*  big laptop screen (21″ and + in full screen ) */
@media screen and (min-width: 1281px) {

}