.LanguageSelector {
  margin: 0 auto;
  height: 1.5rem;
  font-size: 0.8rem;
  
}

.LanguageSelector .language {
  opacity: 0.5;
}
.LanguageSelector .language:hover {
  cursor: pointer;
}
.LanguageSelector .active {
  opacity: 1;
  font-weight: 600;
}
.LanguageSelector ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
.LanguageSelector ul li {
  list-style-type: none;
  display: inline;
}
.LanguageSelector ul li:not(:first-child):before {
  content: " | ";
}
.LanguageSelector ul li:last-child:after {
  content: "";
  display: block;
  width: 1px;
  height: 4rem;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  right: 3rem;
  top: 5.5rem;
}


/* MacBook 13"*/
 @media screen and (max-width: 1920px) {
  .LanguageSelector {
    margin-top: 4rem;
  }
  }
  /*iPadPro Horizontal*/
  @media screen and (max-width: 1382px) {
    .LanguageSelector ul li:last-child:after {
      display: none;
    }
  }
  /*iPadPro Vertical / iPad HorizontaL*/
  @media screen and (max-width: 1024px) {
    
  }

  /*iPhoneX horizontal*/
  @media screen and (max-width: 900px) {
    .LanguageSelector {
    font-size: 1.1rem;
    height: 1rem;
  }

  .LanguageSelector ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .LanguageSelector ul li {
    text-align: center;
    height: 2rem;
  }

  .LanguageSelector ul li:not(:first-child):before {
    content: "";
  }
  .LanguageSelector ul li:last-child:after {
    content: "";
  }
  }

  /*iPad Vertical iPhone6/7/8 Horizontal*/
  @media screen and (max-width: 768px) {
    .LanguageSelector {
      font-size: 1.1rem;
      width: 90%;
      height: 1rem;
    }

    .LanguageSelector ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .LanguageSelector ul li {
      text-align: center;
      height: 1.7rem;
    }

    .LanguageSelector ul li:not(:first-child):before {
      content: "";
    }
    .LanguageSelector ul li:last-child:after {
      content: "";
    }
  }

  /*iPhoneX/iPhone6/7/8 vertical*/
  @media screen and (max-width: 480px) {
    .LanguageSelector ul li {
      height: 2.5rem;
    }
  }

