.Menu {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  background-color: #ececeb;
}

.Menu .item {
  line-height: 3rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 3rem;
}

.Menu .item div{
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.Menu .item div:hover{
  color: gray;
  cursor: pointer;
}

.Menu .item.active div{
  color: #2a363b;
}
/*MacBook 13"*/
@media screen and (max-width: 1920px) {
  .Menu .LanguageSelector {
    margin-bottom: 5rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
/*iPadPro Horizontal*/
@media screen and (max-width: 1382px) {
}
/*iPadPro Vertical / iPad HorizontaL*/
@media screen and (max-width: 1024px) {
}

/*iPhoneX horizontal*/
@media screen and (max-width: 900px) {
  .Menu .LanguageSelector {
    margin: 2rem 0 5rem 0;
  }
}

/*iPad Vertical iPhone6/7/8 Horizontal*/
@media screen and (max-width: 768px) {
}

/*iPhoneX/iPhone6/7/8 vertical*/
@media screen and (max-width: 480px) {
  .Menu .LanguageSelector {
    margin: 2rem 0;
  }

  .Menu .LanguageSelector:after {
    display: none;
  }

  .Menu .item {
    display: none;
  }
}